<div class="grid">
  <div class="col-12" style="margin-bottom: 1rem;">
      <p-card>
              <h2>Tipo de Documentos</h2>

              <p>Administre aquí los tipos de documentos.</p>
      
              <input pInputText [(ngModel)]="createNombre" type="text" placeholder="Ingrese Tipo Documento" style="margin-top:0.5rem" name="createNombre" />
      
              <custom-button 
                  label="Crear" 
                  type="primary" 
                  (onClick)="onCreate()"
                  style="margin: 0.5rem;">
              </custom-button>
      </p-card>
  </div>
</div>

<div class="grid" style="margin-bottom: 1rem;">
  <div class="col-12">
      <p-card>
          <div class="grid">
            @if(filteredTypes.length === 0){
                <div *ngIf="" class="text-center p-5">
                    <div class="flex align-items-center justify-content-center flex-column">
                        <i class="pi pi-info-circle text-5xl mb-3 text-500"></i>
                        <p class="text-xl text-500 mb-0">No se encontraron registros.</p>
                    </div>
                </div>
            }
            @else if(filteredTypes.length > 0){
                <app-table [data]="filteredTypes" [columns]="documentTypeColumns" [showActions]="true" (onToggleActive)="toggleEstado($event)" [rows]="10"></app-table>
            }
          </div>
      </p-card>
  </div>
</div>