.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.table a {
  color: #007ad9;
  cursor: pointer;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.filters{
    margin-bottom: 1rem;
}