<div class="grid">
    <div class="col-12">
        <p-card>
            <div class="col-12">
                <h2>Auditoria</h2>
                <p>Realize una busqueda aquí.</p>
            </div>
            <label>
                Emisor:
                <input pInputText [(ngModel)]="emisor" type="text" placeholder="Ingrese Emisor" style="margin-top:0.5rem" />
            </label>
            <label>
                Solicitante:
                <input pInputText [(ngModel)]="solicitante" type="text" placeholder="Ingrese Solicitante" style="margin-top:0.5rem" />
            </label>
            <label>
                Inicio:
                <p-datepicker [(ngModel)]="startDate" [iconDisplay]="'input'" [showIcon]="true" placeholder="Seleccione Fecha Inicio"/>
            </label>
            <label>
                Fin:
                <p-datepicker [(ngModel)]="endDate" [iconDisplay]="'input'" [showIcon]="true" placeholder="Seleccione Fecha Fin"/>
            </label>

            <custom-button 
                label="Buscar" 
                type="primary" 
                (onClick)="onSearchClick()"
                style="margin: 0.5rem;">
            </custom-button>
        </p-card>
    </div>
</div>

<div class="grid" style="margin-bottom: 1rem;">
    <div class="col-6">
        <p-card>
            <div class="grid">
                <app-table *ngIf="!loading && logs.length > 0" [data]="logs" [columns]="tableColumns" [getUserTypeName]="getUserName.bind(this)" [rows]="10">
                </app-table>
                <div *ngIf="!loading && logs.length === 0" class="text-center p-5">
                    <div class="flex align-items-center justify-content-center flex-column">
                        <i class="pi pi-info-circle text-5xl mb-3 text-500"></i>
                        <p class="text-xl text-500 mb-0">No se encontraron registros.</p>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>