<div class="grid" style="margin-bottom: 1rem;">
    <div class="col-12" style="margin-bottom: 1rem;">
        <p-card>
            <h2>Usuarios</h2>
            <p>Administre aquí los usuarios del sistema.</p>
        </p-card>
    </div>
    <div class="col-12">
        <p-card>
            <div class="grid">
                <app-table 
                *ngIf="filteredUsers && filteredUsers.length > 0" 
                [data]="filteredUsers"
                [columns]="tableColumns" 
                [showActions]="true" 
                [getUserTypeName]="getUserTypeName.bind(this)"
                (onEdit)="onEdit($event)" 
                (onToggleActive)="onToggleActive($event)" 
                label="usuario" 
                [rows]="8">
            </app-table>

            <div *ngIf="!filteredUsers || filteredUsers.length === 0" class="text-center p-5">
                <div class="flex align-items-center justify-content-center flex-column">
                    <i class="pi pi-info-circle text-5xl mb-3 text-500"></i>
                    <p class="text-xl text-500 mb-0">No hay usuarios disponibles</p>
                </div>
            </div>
            </div>
        </p-card>
    </div>
</div>

<div class="grid" *ngIf="selectedUser" style="margin-bottom: 1rem;">
    <div class="col-12">
        <p-card>
            <div class="grid">
                <div class="col-12">
                    <h3>Editar Usuario</h3>
                </div>
                <form [formGroup]="editForm" class="grid w-full">
                    <div class="col-12 md:col-6 lg:col-4" style="margin-bottom: 1rem;">
                        <label class="block mb-2">Nombre</label>
                        <input id="nombre" type="text" pInputText formControlName="nombre" class="w-full" style="margin-left: 0.5rem;"/>
                    </div>                    
                    
                    <div class="col-12 md:col-6 lg:col-4" style="margin-bottom: 1rem;">
                        <label class="block mb-2">Tipo</label>
                        <app-select
                          formControlName="tipo"
                          [options]="tipos"
                          optionLabel="name"
                          optionValue="id"
                          placeholder="--Seleccione--">
                        </app-select>
                    </div>
                    
                    <div class="col-12 md:col-6 lg:col-4" style="margin-bottom: 1rem;">
                        <label class="block mb-2">SubTipo</label>
                        <app-select
                          formControlName="subtipo"
                          [options]="subtipos"
                          optionLabel="name"
                          optionValue="id"
                          placeholder="--Seleccione--">
                        </app-select>
                    </div>
                    
                    <div class="col-12 md:col-6" style="margin-bottom: 1rem;">
                        <div class="flex align-items-center">
                            <label class="mr-2">Activo</label>
                            <input type="checkbox" formControlName="activo" style="margin-left: 0.5rem;" />
                        </div>
                    </div>
                    
                    <div class="col-12 flex justify-content-end gap-2" style="margin-bottom: 0.5rem;">
                        <custom-button 
                            label="Aplicar Cambios" 
                            type="primary" 
                            [disabled]="editForm.invalid" 
                            (onClick)="onApplyChanges()"
                            style="margin: 0,5rem;">
                        </custom-button>
                        <custom-button 
                            label="Cancelar" 
                            type="danger" 
                            (onClick)="cancelEdit()"
                            style="margin: 0.5rem;">
                        </custom-button>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>
