<div class="login-container">
  <p-card styleClass="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <input
      pInputText
      id="username"
      formControlName="username"
      placeholder="Usuario"
      autocomplete="username"
    />
    
    <p-password
      id="password"
      formControlName="password"
      [toggleMask]="true"
      placeholder="Contraseña"
      autocomplete="current-password"
    ></p-password>
    

      <button pButton label="Ingresar" type="submit" [loading]="loading" class="login-button"></button>
    </form>
  </p-card>
</div>