<div class="grid" style="margin-bottom: 1rem;">
    <div class="col-12">
        <p-card>
            <div class="col-12">
                <h2>{{ this.title }}</h2>
            </div>

            <div class="col-12">
                <form [formGroup]="searchForm" class="search-form">
                    <div class="fields">
                        <label>
                            Inicio
                            <p-datepicker 
                                formControlName="inicio" 
                                [showIcon]="true" 
                                [iconDisplay]="'input'" 
                                placeholder="Seleccione Fecha Inicio"
                                dateFormat="dd/mm/yy"
                                [showButtonBar]="true"
                                inputId="inicio">
                            </p-datepicker>
                        </label>
                        <label>
                            Fin
                            <p-datepicker 
                                formControlName="fin" 
                                [showIcon]="true" 
                                [iconDisplay]="'input'" 
                                placeholder="Seleccione Fecha Fin"
                                dateFormat="dd/mm/yy"
                                [showButtonBar]="true"
                                inputId="fin">
                            </p-datepicker>
                        </label>
        
                        <custom-button 
                            label="Buscar" 
                            type="primary" 
                            (onClick)="onSearch()"
                            style="margin-top: 1rem;">
                        </custom-button>
                    </div>
                </form>
        
            </div>
        </p-card>
    </div>

    <div *ngIf="selectedRequest" class="col-12">
        <p-card>
            <div class="upload-panel p-fluid" style="border-radius: 0.8rem;">
                <h2>Cargar documento</h2>
                <form [formGroup]="uploadForm" (ngSubmit)="onUploadSubmit()" style="margin-top: 0.5rem;">
                    <div class="grid">
                        <div class="col-12 md:col-4 mb-2" style="margin-top: 0.5rem;">
                            <label for="requestId" class="block mb-1">ID Registro</label>
                            <input id="requestId" pInputText formControlName="requestId" readonly class="w-full" />
                        </div>
                        <div class="col-12 md:col-4 mb-2" style="margin-top: 0.5rem;">
                            <label for="requesterId" class="block mb-1">Solicitante</label>
                            <input id="requesterId" pInputText formControlName="requesterId" readonly class="w-full" />
                        </div>
                        <div class="col-12 md:col-4 mb-2" style="margin-top: 0.5rem;">
                            <label for="documentTypeId" class="block mb-1">Tipo Documento</label>
                            <input id="documentTypeId" pInputText formControlName="documentTypeId" readonly class="w-full" />
                        </div>
                        <div class="col-12 md:col-4 mb-2" style="margin-top: 0.5rem;">
                            <p-fileUpload  
                                id="fileUpload"
                                mode="basic" 
                                name="document" 
                                [auto]="false"
                                chooseLabel="Subir"
                                class="w-full" 
                                accept="application/pdf,image/*"
                                (onSelect)="onFileChange($event)"
                                [showCancelButton]="false">
                            </p-fileUpload>                          
                        </div>
                        <div class="col-12">
                            <custom-button
                            style="margin: 0.5rem;" 
                            label="Cancelar" 
                            type="danger" 
                            (onClick)="onCancelUpload()">
                        </custom-button>
                            <custom-button
                                style="margin: 0.5rem;"
                                label="Enviar" 
                                type="primary" 
                                [disabled]="uploadForm.invalid"
                                (onClick)="onUploadSubmit()">
                            </custom-button>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>

<div class="grid" style="margin-bottom: 1rem;">
    <div class="col-12">
        <p-card>
            <div class="grid">
                @if(results.length === 0){
                    <div class="text-center p-5">
                        <div class="flex align-items-center justify-content-center flex-column">
                            <i class="pi pi-info-circle text-5xl mb-3 text-500"></i>
                            <p class="text-xl text-500 mb-0">No se encontraron registros.</p>
                        </div>
                    </div>
                }
                @else if(results.length > 0){
                    <app-table [data]="results" [columns]="requestColumns" [showActions]="true"  (onToggleActive)="handleTableAction($event)" [getUserTypeName]="getUserName.bind(this)" [rows]="10"></app-table>
                }
            </div>
        </p-card>
    </div>
</div>