<div style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 1rem; flex-wrap: nowrap;">
  <i class="pi pi-search" style="font-size: 1.2rem;"></i>
  <input type="text" pInputText [(ngModel)]="searchValue" (keyup)="filterData()" placeholder="Buscar..." style="flex: 1; min-width: 0; max-width: 100%;"/>
</div>

<p-table
  [value]="filteredData"
  [paginator]="true"
  [rows]="rows"
  [first]="first"
  [showCurrentPageReport]="showCurrentPageReport"
  [currentPageReportTemplate]="currentPageReportTemplate"
  (onPage)="pageChange($event)"
  [responsiveLayout]="'scroll'"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns" >{{ col.header }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td *ngFor="let col of columns">
        <!-- columna especial para acciones -->
        <ng-container *ngIf="showActions && col.campo === 'actions'">
          <a *ngIf="label === 'usuario'" style="margin: 0.5rem;" href="#" class="p-link" (click)="handleEdit(row); $event.preventDefault()">Editar</a>
          <a style="margin: 0.5rem;" href="#" class="p-link" (click)="handleToggleActive(row); $event.preventDefault()">
            {{ (row.status === 'Activo' || row.state === 'Activo' ? 'Desactivar' : 'Activar') }}
          </a>
        </ng-container>
        
        <!-- columna especial para tipo de usuario -->
        <ng-container *ngIf="col.campo === 'userTypeId'">
          {{ getUserTypeName(row[col.campo]) }}
        </ng-container>
        
        <!-- columnas normales -->
        <ng-container *ngIf="label && col.campo.startsWith(label + '.') && col.campo !== 'actions' && col.campo !== 'userTypeId'">
          {{ getCamposAnidados(row, col.campo.substring(label.length + 1)) }}
        </ng-container>
        
        <ng-container *ngIf="(!label || !col.campo.startsWith(label + '.')) && col.campo !== 'actions' && col.campo !== 'userTypeId'">
          {{ col.campo.includes('.') ? getCamposAnidados(row, col.campo) : row[col.campo] }}
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
